body{
    font-family: "Montserrat Alternates", sans-serif;
    margin: 0;
    background-color: #000;
    color: white;
    overflow: hidden;
}
.main{
    display: flex;
    height: 100vh;
}
.sidebar{
    background-color: black;
    width: 340px;
    border-radius: 1rem;
}
.main-content{
    margin: 5px 5px 55px 5px;
    background-color:  #121212;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
    padding: 0 10px 10px 10px;
}
.music-player{
    background-color:  black;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 75px;
}
.nav a{
    text-decoration: none;
    color: white;
    /* text-align: center; */
}
.nav{
    background-color: #121212 ;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 150px;
    padding: 0.5rem 0.5rem;
    margin:5px;
}
.nav img{
    width: 20px;
}
.nav-option{
    line-height: 2.5rem;
    padding-left: 10px ;
    font-size: 1rem;
    opacity: 0.7;
    /* margin: 5px; */
}
.nav-option:hover{
    opacity: 1;
}
.nav-option i{
    font-size: 1.2rem;
    
}
.nav-option a{
    margin-left: 1rem;
}
.option{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lib{
    background-color: #121212;
    border-radius: 1rem 1rem 1rem 1rem;
    margin: 5px;
    /* margin-bottom: 3rem; */
    height: 60%;
    padding: 0.75rem 0.75rem;
    
}
.lib-options a{
    text-decoration: none;
    color: white;
    
}
.lib-options img{
    height: 1.25rem;
    cursor: pointer;
}
.icons{
    font-size: 1rem;
    display: flex;
}
.icons i{
    opacity: 0.5;
    margin-right: 15px;
    cursor: pointer;
}
.icons i:hover{
    opacity: 1;
    
}
.box{
    height: 8rem;
    background-color: #1f1f1f;
    border-radius: 10px;
    margin: 0.75rem 0 0.75rem 0;
    padding: 1rem 1.25rem;
    
}
.box-p1{
    font-size: 1rem;
    font-weight: 700;
    padding-bottom: 1rem;
}
.box-p2{
    font-size: 0.7rem;
    font-weight: 400;
    padding-bottom: 1rem;
}
.badge{
    font-weight: 800;
    padding: 0.3rem 0.8rem 0.3rem 0.8rem;
    border-radius: 1rem;
    border: none;
    margin-top: 1rem;
    cursor: pointer;
    width: fit-content;
}
.badge:hover{
   background-color: rgba(255, 255, 255, 0.918);   
  
}
.sticky-nav{
    height: 4rem;
    position: sticky;
    top: 0;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}
.sticky-nav-icons{
    display: flex;
    margin-left:10px ;
}
.sticky-nav-icons .circle{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: black;
    margin: 6px;
}
.nav-item{
    margin-right: 1.5rem;
}
.nav-sticky-options{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 1000px){
    .hide{
        display: none;
    }
}
.cards h2{
    margin-left:1.5rem ;
}
.card{
    background-color: #1f1f1f;
    width: 150px;
    border-radius: 10px;
    padding: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
}
.cards-container{
    display: flex;
    flex-wrap: wrap;
}
.card-img{
    width: 100%;
    border-radius: 10px;
}
.card-title{
    font-weight: 600;

}
.card-info{
    font-size: 0.85rem;
    opacity: 0.7;
}
.footer{
    height: 300px ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.line{
    border-top: 1px solid white;
    height: 40%;
    width: 90%;
    opacity: 0.3;
}
.music-player{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.album{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 55px;
    width: 25%;
    background-color: black;
}
.playback-bar{
   
    display: flex;
}
.control{
    width: 25%;
    background-color: black;
}
.player{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.player-control{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.player-control-icon{
    height: 1rem;
    margin-right: 2rem;
    opacity: 0.7;
    padding-top: 5px;
    padding-bottom: 5px;
}
.player-control-icon:hover{
    cursor: pointer;
    opacity: 1;
}
.playback-bar input{
    width: 350px;
    margin-bottom: 10px;
}
.photo{
    width: 100%;
}
.control{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 55px;
    width: 280px;
}
.album  img{
    height: 100%;
    padding-left: 1rem;
}
.singer{
    margin-left: 1rem;
    padding-bottom: -1rem;
}